.listings-card{
    /*background: white; */
    height: 25em;
    width: 15em;
    margin-right: 2em;
    margin-bottom: 2em;

}

.listings-card a {
    all: unset;
    cursor: pointer;
}

.card-img{
    height: 67%;
    /*background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.card-img img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.title {
    color: #8331A7;
    font-weight: bold;
}

.text {
    font-family: 'Mukta', sans-serif;
}
